.tableTextHeader{
    font-weight: bold !important;
    font-size: 22px !important;
    color: white !important;
    border-width: 0px 2px 2px 0px !important;
    border-style: solid !important;
    border-color: white !important;
}

#tableHeader{
    background-color: black;
}

.tableData{
    text-align: center !important;
    font-size: 18px !important;
}
  
#mainTableText{
    font-weight: bold !important;
}