#root {
  width: 100% !important;
  text-align: center;
}

p {
  margin: 0;
}

.latlong {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
  align-items: center; /* Centra los elementos dentro del formulario */
  text-align: center;
}

.weather{
  display: flex !important;
  flex-direction: column !important;
  margin: auto;
  width: 80% !important;
  gap: 10px;
}

.mainbtn{
  width: 100px;
  height: 50px;
}

#weatherIcon{
  width: 100%;
  height: 100%;
}

.mainTitle {
  margin: 10px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 4px 2px 4px black;
}

.mainContent{
  margin: auto; 
  text-align: center; 
  width: 100%;
}

.header{
  background-color: #117A8E;
  height: 100px;
  display: flex;
  place-items: center;
  justify-content: space-between;
  padding: 5px 20px 5px 20px;
  border-radius: 0px 0px 10px 10px;
}

#icon{
  width: 80px;
  height: 80px;
}